[Unit]
Description=Every ten minutes, install the newest green Smashcraft main

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s

[Install]
WantedBy=timers.target
